@use "base"
@use "components"

html
    background-color: base.$gray-1000

body
    background-color: base.$gray-900
    min-height: 100dvh

.content-wrapper
    max-width: base.$max-width-content
    margin: 0 auto

